/***************************************
************  Text Overrides  **********
****************************************/
.is-muted {
   color: $grey-light;
}

a.is-muted:hover{
  color: $grey;
}

input.is-danger {
  background-color: lightcoral;
  color: white;
}
/***************************************
************ Dropdown Overrides ********
****************************************/

/*
.dropdown {

position: relative;



   .dropdown-menu {
      display: none;
      position: absolute;
      left: 0;
      top: 102%;
      z-index: 1000;
      background-color: white;
      min-width: 200px;
      text-align: left;
      box-shadow: 0 0 1px rgba(57,70,78,.15), 0 20px 55px -8px rgba(57,70,78,.25);

      li {
         &.separator {
            border-top: 1px solid #ccc;
            margin: 5px 0;
         }

         &>a {
            margin: 5px 0;
            padding: 5px 0 5px 15px;
            display: block;

            &:hover {
               background-color: whitesmoke;
         }
      }
   }
}

  &.is-aligned-right    .dropdown-menu {
   right: 0;
   left: auto;
  }

  &.is-open .dropdown-menu {
   display: block;
   }


}

button.nav-item {
   background-color: white;
   border: none;

   &:hover {
       border-bottom: 1px solid #00d1b2;
       border-top-color: transparent;
   }
}
*/


.nav {
   height: 4.5rem;
}

.nav-item img {
   max-height: 2.8rem;
}

.navbar-brand .brand-item {
  margin-rigth: 0px;
  @include desktop {
    margin-right: 15px;
  }
}

.navbar-burger {
  border: none;
}

.widget-area {
   min-height: 75px;
   padding: 10px;
   border-bottom: 1px solid rgba(10,10,10, 0.1);

   &.author-widget {
      .selected-author {
        display: flex;
        align-items: flex-start;

        img {
          border-radius: 25px;
        }
      .author {
          margin: auto 0 auto 10px;
          .subtitle {
            font-weight: 300;
            font-size: 0.8em;
          }
        }
      }
   }


   .post-status-widget {
       .status {
            display: flex;
            align-content: flex-start;

         .status-icon {
            min-width: 50px;
            .icon {
               width: 100%;
               i {
                  text-align: center;
               }
            }
         }

         .status-details {
margin-left: 10px;
            h4 {
               font-weight: 400;
               span.status-emphasis {
                  font-weight: 800;
               }
            }
            p {
               font-weight: 300;
               font-size: 0.8em;
            }
         }
      }
   }


   .publish-buttons-widget {
      display: flex;
      min-height:50px;
      align-items: center;
      justify-content: center;

      .primary-button-action, secondary-button-action {
         flex-grow: 1;
         width: 50%;
         margin: 10px;
      }
   }
}
